<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    >
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">料理管理アプリ</title>
    <link rel="stylesheet" th:href="@{/css/allstyle.css}">
</head>
<body class="layout-body">

<div class="page-wrapper">
    <header class="header">
        <img src="/images/cookgod_logo2.png" alt="CookGODロゴ" class="header-logo">
        <nav class="nav-center">
            <a sec:authorize="isAuthenticated()" th:href="@{/recipes}">レシピ一覧</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/recipes/new}">レシピ登録</a>
           <a sec:authorize="isAnonymous()" th:href="@{/register}">ユーザ登録</a>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display:inline;">
                <button sec:authorize="isAuthenticated()" type="submit" id="logout-button">
                    ログアウト
                </button>
            </form>
        </nav>
        <div class="header-line"></div>
    </header>

    <main layout:fragment="content">
        <!-- 子テンプレートがここに差し込まれます -->
    </main>

    <footer class="footer" th:fragment="footer">
        <hr>
        <p>&copy; 2025 Cooking App</p>
    </footer>
</div>

<!-- 🔽 子テンプレートの script がここに入る -->
<div layout:fragment="scripts"></div>

</body>
</html>
